<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <h2>About Me</h2>
    <%- include("../partials/nav.ejs") %>
    
    <section>
      <h3>About</h3>
      <p>I am a Node.js developer with a strong background in building scalable web applications. I have experience working with various technologies including MongoDB, Express.js, React.js, and more...
      </p>
      
      <h3>Education</h3>
      <p>Bachelor's Degree in Polymer and Textile Enginnering from Federal University of Technology, Owerri. I have a strong experience in computer knowledge and skill</p>
      
      <h3>Experience</h3>
      <p>Software Developer at Ebility Tech</p>
      

    </section>
    <%- include("../partials/time-date.ejs")%>
    <%- include("../partials/social.ejs")%>
    <%- include("../partials/foot.ejs") %>
  </body>
</html>