<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <h1>EBILITY TECH</h1>
    <h2>Welcome To My World</h2>
    <%- include("../partials/nav.ejs") %>

    <section class="img-holder">
      <img src="profile.jpg" alt="display image">
      <p>My name is Eberechukwu Kelvin Oguguo, An excellent web developer in Javascript programming language. I work both on the frontend using React.js framework and on the backend using Node.js and Express.js etc.</p>
    </section>

    <div>
      <% if (locals.data.name && data.email) { %>
        <p>Welcome, <%= data.name %>! Your email is <%= data.email %>.</p>
      <% } else { %>
        <h2>Users That Checked In</h2>
      <% } %>

    </div>
    <%- include("../partials/time-date.ejs")%>
    <%- include("../partials/social.ejs")%>
    <%- include("../partials/foot.ejs") %>
  </body>
</html>