<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

<body>
  <h2>Projects</h2>
  <%- include("../partials/nav.ejs") %>

  <section>
    <div class="project-sec">
      <h3>My Portfolio</h3>
      <p>Description of the project</p>
      <p><strong>Technologies Used:</strong>
        <ul>
          <li>Node.js</li>
          <li>Express.js</li>
        </ul>
      </p>

      <a href="https://github.com/yourusername/project-repo">View on GitHub</a>
    </div>
    <!-- Repeat for other projects -->


  </section>
  <%- include("../partials/time-date.ejs")%>
  <%- include("../partials/social.ejs")%>
  <%- include("../partials/foot.ejs") %>
</body>
</html>