<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

<body>
  <h2>Projects</h2>
  <%- include("../partials/nav.ejs") %>

  <section>
    <div class="project-sec">
      <h3>My Projects</h3>

      <h3>To-Do-App</h3>
      
      <p>A To-Do-App that helps naigate through your day-to-day activities</p>
      <strong>Technologies Used:</strong>
      <ul>
        <li>Node.js</li>
        <li>Express.js</li>
        <li>EJS</li>
      </ul>

      <a href="https://github.com/Eberelinks/To-Do-App.git">View on GitHub</a>
    </div>
    <!-- Repeat for other projects -->

  </section>
  <%- include("../partials/time-date.ejs")%>
  <%- include("../partials/social.ejs")%>
  <%- include("../partials/foot.ejs") %>
</body>
</html>