<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs")%>

  <body>
    <h2>Services</h2>
    <%- include("../partials/nav.ejs") %>
    
    <section>
      <ul>
        <li>Node.js</li>
        <li>Express.js</li>
        <li>MongoDB</li>
        <li>React.js</li>
        <li>Javascript</li>
        <li>HTML/CSS</li>
        <li>Teamwork and Problem solving</li>
      </ul>

    </section>
    <%- include("../partials/time-date.ejs")%>
    <%- include("../partials/social.ejs")%>
    <%- include("../partials/foot.ejs") %>
  </body>
</html>